<!-- index.html -->
{% extends "skeleton/adminlte.html" %}
{% block title %}Show - Booking{% endblock %}

{% block breadcrumb %}
<section class="content-header">
    <h1>
        Booking Show
        <small>pages</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/booking"><i class="fa fa-edit"></i> Booking</a></li>
        <li class="active">Show</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<style>
    a.col-md-3,
    a.col-sm-6,
    a.col-xs-12 {
        text-decoration: none;
        color: inherit;
    }
</style>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="col-md-4">
            <!-- custom -->
            <a href="#" class="info-box bg-aqua" style="text-decoration: none;color: inherit;">
                <span class="info-box-icon"><i class="fa fa-edit"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Room A</span>
                    <span class="info-box-number">Tersedia</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        5 Jadwal Kosong Tersedia
                    </span>
                </div>
                <!-- /.info-box-content -->
            </a>
            <!-- /.info-box -->

            <!-- custom -->
            <a href="#" class="info-box bg-red" style="text-decoration: none;color: inherit;">
                <span class="info-box-icon"><i class="fa fa-group"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Room B</span>
                    <span class="info-box-number">Tidak Tersedia</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        0 Jadwal Kosong Tersedia
                    </span>
                </div>
                <!-- /.info-box-content -->
            </a>
            <!-- /.info-box -->

            <!-- custom -->
            <a href="#" class="info-box bg-aqua" style="text-decoration: none;color: inherit;">
                <span class="info-box-icon"><i class="fa fa-edit"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Room C</span>
                    <span class="info-box-number">Tersedia</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        5 Jadwal Kosong Tersedia
                    </span>
                </div>
                <!-- /.info-box-content -->
            </a>
            <!-- /.info-box -->

            <!-- custom -->
            <a href="#" class="info-box bg-aqua" style="text-decoration: none;color: inherit;">
                <span class="info-box-icon"><i class="fa fa-edit"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Room D</span>
                    <span class="info-box-number">Tersedia</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        5 Jadwal Kosong Tersedia
                    </span>
                </div>
                <!-- /.info-box-content -->
            </a>
            <!-- /.info-box -->

        </div>
        <!-- /.col -->

        <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Room A</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Jam</th>
                                <th>Pemesan</th>
                                <th width="10%">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in data %}
                            <tr>
                                <td>{{ entry.jam }}</td>
                                <td>{{ entry.peminjam }}</td>
                                <td>
                                    <span class="badge bg-red">Sudah Penuh</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->  
    </div>
    <!-- /.row -->
</section>
<!-- End content -->
{% endblock %}

{% block scripts %}
<!-- none -->
{% endblock %}