<!-- pdf.html -->
{% extends "skeleton/adminlte.html" %}

{% block title %}PBUSS{% endblock %}

{% block breadcrumb %}
<section class="content-header">
    <!-- <h1>
        PENERIMA BANTUAN UANG SEKOLAH SISWA
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">PBUSS</li>
    </ol> -->
</section>
{% endblock %}

{% block content %}
<div class="clearfix"></div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- column -->
        <div class="col-md-4">
            <!-- general form elements -->
            <div class="box box-success">

                <!-- form start -->
                <form action="/upload-pbuss/{{ kode }}" role="form" method="POST" enctype="multipart/form-data">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="pdf-upload">Upload Raport File</label>
                            <input type="file" name="file" id="pdf-upload" accept="application/pdf">

                            <p class="help-block">Example block-level help text here.</p>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">Download</button>
                        <!-- <button type="button" class="btn btn-primary">Show PDF</button> -->
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col -->
        <!-- column -->
        <div class="col-md-8">
            {% if filename %}
            <div class="box box-success mt-4">
                <div class="box-body">
                    <h2>Uploaded PDF:</h2>
                    <iframe src="/uploads/{{ filename }}" width="800px" height="600px" frameborder="0"></iframe>
                </div>
            </div>
            {% else %}
            <!-- general form elements -->
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="box box-success">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputFile">Upload Raport File</label>
                            <input type="file" name="file">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Generate PDF</button>
                    </div>
                </div>
            </form>
            <!-- <div class="box box-success">
                <div class="box-body">
                    <div style="width: auto; min-height: 500px;"></div>
                </div>
            </div> -->
            {% endif %}
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="box-title"></div>
                </div>
                <div class="box-body">
                    <table id="commissionTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>no_buss</th>
                                <th>kode</th>
                                <th>nama</th>
                                <th>link</th>
                                <th>sekolah</th>
                                <th>us</th>
                                <th>buss</th>
                                <th>us_buss</th>
                                <th>nomor_surat_sekolah</th>
                                <th colspan="2" style="text-align: center; width: 10%;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Data will be displayed here -->
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.no_buss }}</td>
                                <td>{{ user.kode }}</td>
                                <td>{{ user.nama }}</td>
                                <td>{{ user.link }}</td>
                                <td>{{ user.sekolah }}</td>
                                <td>{{ user.us }}</td>
                                <td>{{ user.buss }}</td>
                                <td>{{ user.us_buss }}</td>
                                <td>{{ user.nomor_surat_sekolah }}</td>
                                <td>
                                    <a href="/accounting/{{ user.id }}/edit" class="btn btn-warning stretched-link">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a href="/accounting/{{ user.id }}/delete" class="btn btn-danger stretched-link">
                                        Hapus
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->


<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Penerima Bantuan Uang Sekolah Siswa
            </h2>
        </div><!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            <b>Nomor :</b> {{ data.nomor_surat_sekolah }}<br>
            <b>Hal :</b> Persetujuan Bantuan Uang Sekolah Siswa<br>
            Bagi Siswa yang Tidak Mampu Secara Ekonomi<br>
        </div><!-- /.col -->
        <div class="col-sm-6 invoice-col">
            <small class="pull-right">04 Juni 2024</small>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row invoice-info">
        <br>
        <div class="col-sm-12 invoice-col">
            <b>Nomor :</b> {{ data.nomor_surat_sekolah }}<br>
            <b>Hal :</b> Persetujuan Bantuan Uang Sekolah Siswa<br>
            Bagi Siswa yang Tidak Mampu Secara Ekonomi<br>
        </div><!-- /.col -->
        <div class="col-sm-6 invoice-col">
            <small class="pull-right">04 Juni 2024</small>
        </div><!-- /.col -->
    </div>

    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Product</th>
                        <th>Serial #</th>
                        <th>Description</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Call of Duty</td>
                        <td>455-981-221</td>
                        <td>El snort testosterone trophy driving gloves handsome</td>
                        <td>$64.50</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Need for Speed IV</td>
                        <td>247-925-726</td>
                        <td>Wes Anderson umami biodiesel</td>
                        <td>$50.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Monsters DVD</td>
                        <td>735-845-642</td>
                        <td>Terry Richardson helvetica tousled street art master</td>
                        <td>$10.70</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Grown Ups Blue Ray</td>
                        <td>422-568-642</td>
                        <td>Tousled lomo letterpress</td>
                        <td>$25.99</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <p class="lead">Payment Methods:</p>
            <img src="../../dist/img/credit/visa.png" alt="Visa">
            <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="../../dist/img/credit/american-express.png" alt="American Express">
            <img src="../../dist/img/credit/paypal2.png" alt="Paypal">
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg
                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
            </p>
        </div><!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Amount Due 2/22/2014</p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>$250.30</td>
                    </tr>
                    <tr>
                        <th>Tax (9.3%)</th>
                        <td>$10.34</td>
                    </tr>
                    <tr>
                        <th>Shipping:</th>
                        <td>$5.80</td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td>$265.24</td>
                    </tr>
                </table>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
            <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>
            <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i>
                Generate PDF</button>
        </div>
    </div>
</section><!-- /.content -->